@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.divbg {
  @apply dark:bg-black-100 rounded-md md:rounded-3xl md:p-5 px-5 py-3 flex flex-col items-center md:gap-3;
}

.myh1 {
  @apply text-base md:text-xl lg:text-3xl font-[500];
}

.myh2 {
  @apply text-sm md:text-lg font-[500];
}

.img1 {
  @apply w-[30px] h-[30px] md:w-[50px] md:h-[50px] mb-0;
}
